---
import CallToAction from "./CallToAction.astro";

import AppHomeView from "@/assets/download/app-home-view.png";
import { Image } from "astro:assets";

import AppBenefitCard from "@/components/ui/AppBenefitCard.astro";
import AppInformation from "@/components/ui/AppInformation.astro";

import { BENEFIT_DATA } from "@/constants/app-benefits";
---

<section id="app-info">
  <div class="bg-app-download flex flex-col gap-10 pt-[74px] pb-16">
    <AppInformation />

    <div class="px-[30px]">
      <Image src={AppHomeView} alt="App's home view" />
    </div>

    <div class="flex flex-col gap-8 px-5">
      {BENEFIT_DATA.map((data) => <AppBenefitCard {...data} />)}
    </div>
  </div>

  <CallToAction />
</section>
