---
import Layout from "@/components/layout/Layout.astro";
import Button from "@/components/ui/Button.astro";
---

<Layout>
  <section
    class="max-w-content mx-auto px-[30px] py-10 lg:flex lg:gap-20 lg:pt-[120px] lg:pb-20 2xl:px-0"
  >
    <div class="mx-auto flex flex-col items-center gap-4">
      <h1 class="font-large-title-mobile lg:font-large-title text-center">
        404 Not found
      </h1>

      <Button href="/" target="_self" rel="">Go to Home</Button>
    </div>
  </section>
</Layout>
