---
import BrandLogo from "@/assets/brand/brand-logo.svg";
import BrandName from "@/assets/brand/brand-name.svg";
import Layout from "@/components/layout/Layout.astro";

import env from "@/config";
import { organizationJsonLd } from "@/constants/default-jsonld";
import { JsonLdGraph } from "@/utils/build-json-ld";
import { getLocaleFromUrl, createTranslator } from "@/utils/i18n";
import type { SEOProps } from "astro-seo";

const locale = getLocaleFromUrl(Astro.url.pathname);
const t = await createTranslator(locale);

const metadata: SEOProps = {
  title: "About Us",
  canonical: `${env.SITE_BASE_URL}/about`,
};

const jsonLd = JsonLdGraph({
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "BreadcrumbList",
      itemListElement: [
        {
          "@type": "ListItem",
          position: 1,
          name: "Home",
          item: `${env.SITE_BASE_URL}`,
        },
        {
          "@type": "ListItem",
          position: 2,
          name: metadata.title,
          item: metadata.canonical as string,
        },
      ],
    },
    organizationJsonLd,
  ],
});
---

<Layout {...metadata} jsonLd={jsonLd}>
  <section
    class="max-w-content mx-auto px-[30px] py-10 lg:flex lg:gap-20 lg:pt-[120px] lg:pb-20 2xl:px-0"
  >
    <div class="justify-betwee hidden flex-col gap-10 lg:flex">
      <div class="flex flex-col items-center gap-[51px]">
        <BrandLogo class="h-[139px] w-[154px]" />
        <BrandName class="h-[49px] w-[366px]" />
      </div>

      <p class="font-body text-center">
        {t("about.address.company")}
        <br />
        {t("about.address.street")}
        <br />
        {t("about.address.city")}
        <br />
        {t("about.address.country")}
      </p>
    </div>

    <div class="flex flex-col gap-[13px]">
      <h1 class="font-small-title lg:font-medium-title">{t("about.title")}</h1>

      <div class="font-body-mobile lg:font-body flex flex-col gap-4">
        <p>
          {t("about.content.p1")}
        </p>

        <p>
          {t("about.content.p2")}
        </p>

        <p>
          {t("about.content.p3")}
        </p>

        <p class="lg:hidden">
          <strong>{t("about.content.address_label")}</strong>
          <br />
          {t("about.address.company")}
          <br />
          {t("about.address.street")}
          <br />
          {t("about.address.city")}
          <br />
          {t("about.address.country")}
        </p>
      </div>
    </div>
  </section>
</Layout>
