---
import Layout from "@/components/layout/Layout.astro";
---

<Layout>
  <section class="flex flex-col gap-[13px] px-[30px] py-10">
    <h1 class="font-small-title">Company Details</h1>

    <div class="flex flex-col gap-4">
      <p class="font-body-mobile">
        Quantus Labs LLC is a technology company based in Wyoming, USA, focused
        on building infrastructure for decentralized, censorship-resistant
        technologies. Our flagship project, Quantus Network is a Layer 1
        blockchain designed to be simple, open-source, and community-owned from
        day one.
      </p>

      <p class="font-body-mobile">
        We believe in the power of open protocols, proof-of-work, and sovereign
        ownership. The Quantus Network app—available on desktop and mobile—lets
        users store digital assets, mine new blocks, and participate in a fairer
        financial future without intermediaries.
      </p>

      <p class="font-body-mobile">
        We're committed to transparency, privacy, and empowering individuals
        through secure, self-custodial tools.
      </p>

      <p>
        <strong>Company Address:</strong>
        <br />
        Quantus Labs LLC
        <br />
        30 N Gould St #52155
        <br />
        Sheridan, WY 82801
        <br />
        USA
      </p>
    </div>
  </section>
</Layout>
