---
import Layout from "@/components/layout/Layout.astro";

import Socials from "@/components/ui/Socials.astro";
import SphereDecoration from "@/components/ui/SphereDecoration.astro";
import ContactForm from "@/components/features/contact/ContactForm.astro";
import { getLocaleFromUrl, createTranslator } from "@/utils/i18n";
import { createMetadata } from "@/utils/create-metadata";

const locale = getLocaleFromUrl(Astro.url.pathname);
const t = await createTranslator(locale);

const metadata = createMetadata({
  title: t("contact.meta.title"),
  description: t("contact.meta.description"),
  pathname: Astro.url.pathname,
});
---

<Layout {...metadata}>
  <section
    class="relative overflow-hidden px-[30px] pt-[67px] pb-[75px] lg:pb-[145px]"
  >
    <SphereDecoration
      class="absolute top-[5rem] -left-[3rem] -z-10"
      variant="4"
      size={152}
    />
    <SphereDecoration
      class="absolute top-[13rem] -right-[11rem] -z-10"
      variant="12"
      size={302}
    />
    <SphereDecoration
      class="absolute bottom-[2rem] -left-[2rem] -z-10"
      variant="13"
      size={185}
    />

    <div class="max-w-content mx-auto flex flex-col">
      <h1
        class="text-contact-title lg:font-large-title font-large-title-mobile mb-[7px] w-fit"
      >
        {t("contact.title")}
      </h1>
      <p class="font-tag-mobile lg:font-tag mb-[22px] opacity-70 lg:mb-[46px]">
        {t("contact.subtitle")}
      </p>

      <ContactForm />
    </div>
  </section>

  <Socials />
</Layout>
