---
import Layout from "@/components/layout/Layout.astro";
import { LeaderboardTable } from "@/components/features/leaderboard-table/LeaderboardTable";

import env from "@/config";
import { getLocaleFromUrl, createTranslator } from "@/utils/i18n";
import type { SEOProps } from "astro-seo";

const locale = getLocaleFromUrl(Astro.url.pathname);
const t = await createTranslator(locale);

const metadata: SEOProps = {
  canonical: `${env.SITE_BASE_URL}/leaderboard`,
};
---

<Layout {...metadata}>
  <section
    class="max-w-content mx-auto px-[30px] py-10 lg:flex lg:gap-20 lg:pt-[120px] lg:pb-20 2xl:px-0"
  >
    <div class="flex w-full flex-col justify-between gap-10">
      <LeaderboardTable client:load />
    </div>
  </section>
</Layout>
