---
import Layout from "@/components/layout/Layout.astro";
import { createMetadata } from "@/utils/create-metadata";

const metadata = createMetadata({
  title: "OAuth Successfully Completed",
  description: "OAuth flow completed successfully. You can close this browser window.",
  pathname: Astro.url.pathname,
});
---

<Layout {...metadata}>
  <section
    class="max-w-content mx-auto px-[30px] py-10 lg:flex lg:gap-20 lg:pt-[120px] lg:pb-20 2xl:px-0"
  >
    <div class="mx-auto flex flex-col items-center gap-4">
      <h1 class="font-large-title-mobile lg:font-large-title text-center">
        OAuth Successfully Completed!
      </h1>

      <p
        class="font-body-mobile lg:font-large-body text-muted-foreground text-center"
      >
        Please close the browser
      </p>
    </div>
  </section>
</Layout>
