---
import SiteSocials from "@/components/ui/SiteSocials.astro";
import { PlayIcon } from "@lucide/astro";
import { createTranslator, getLocaleFromUrl } from "@/utils/i18n";

const locale = getLocaleFromUrl(Astro.url.pathname);
const t = await createTranslator(locale);
---

<section
  class="max-w-video-introduction mx-auto flex flex-col lg:flex-row lg:gap-7 lg:px-[114px] lg:pt-[120px] lg:pb-[80px]"
>
  <div
    class="lg:rounded-quantus relative flex aspect-video size-full flex-1 flex-col items-center justify-center overflow-hidden bg-(image:--color-video-player) lg:order-2"
  >
    <button
      aria-label="Play youtube video button"
      class="bg-video-player-icon-body absolute -z-0 flex size-[95px] cursor-pointer items-center justify-center rounded-full hover:brightness-125"
    >
      <PlayIcon
        width={33.25}
        height={38}
        class="text-video-player-icon fill-video-player-icon"
      />
    </button>

    <iframe
      class="pointer-events-none relative z-[1]"
      width="100%"
      height="100%"
      src="https://www.youtube.com/embed/ZoT5cdMoMPA?si=2j3M397Em6445nch&autoplay=1&mute=1&loop=1&playlist=ZoT5cdMoMPA&controls=0"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; modestbranding; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    >
    </iframe>
  </div>

  <div
    class="px-[30px] pt-10 pb-[60px] lg:order-1 lg:max-w-[331px] lg:px-0 lg:pt-0 lg:pb-0 xl:max-w-[471px]"
  >
    <h2
      class="font-medium-title-mobile md:font-medium-title xl:font-medium-title-mobile mb-[13px] text-3xl min-[373px]:text-[45px] lg:text-3xl"
    >
      {t("video.title")}
    </h2>

    <p class="font-body-mobile md:font-body mb-[38px]">
      {t("video.description")}
    </p>

    <SiteSocials />
  </div>
</section>
