---
import SphereDecoration from "@/components/ui/SphereDecoration.astro";
import type { Props as CardData } from "./Card.astro";
import Card from "./Card.astro";
import { createTranslator, getLocaleFromUrl } from "@/utils/i18n";

const locale = getLocaleFromUrl(Astro.url.pathname);
const t = await createTranslator(locale);

const cardData: CardData[] = [
  {
    title: "benefits.cards.quantum_secure.title",
    body: "benefits.cards.quantum_secure.description",
    variant: "benefit-1",
    qips: [
      {
        href: "https://github.com/Quantus-Network/improvement-proposals/blob/main/qip-0002.md",
        label: "QIP-002",
      },
      {
        href: "https://github.com/Quantus-Network/improvement-proposals/blob/main/qip-0006.md",
        label: "QIP-006",
      },
    ],
  },
  {
    title: "benefits.cards.zero_knowledge.title",
    body: "benefits.cards.zero_knowledge.description",
    variant: "benefit-2",
    qips: [
      {
        href: "https://github.com/Quantus-Network/improvement-proposals/blob/main/qip-0005.md",
        label: "QIP-005",
      },
    ],
  },
  {
    title: "benefits.cards.security_control.title",
    body: "benefits.cards.security_control.description",
    variant: "benefit-3",
    qips: [
      {
        href: "https://github.com/Quantus-Network/improvement-proposals/blob/main/qip-0011.md",
        label: "QIP-011",
      },
    ],
  },
];
---

<section
  id="benefits"
  class="relative flex flex-col items-center overflow-hidden px-[30px] pt-[105px] pb-[238px] lg:pt-[153px]"
>
  <SphereDecoration
    class="absolute -bottom-[25rem] -z-10 hidden lg:block"
    variant="14"
    size={551}
  />

  <span
    class="font-giant-mobile lg:font-giant text-gradient-giant min-large-mobile:text-[54px] absolute top-16 -z-10 text-[44px] min-[642px]:top-8 min-[642px]:text-[92px] lg:top-2"
    >FOUNDATIONS</span
  >
  <div class="mb-[63px]">
    <h2
      class="font-large-title-mobile lg:font-large-title min-large-mobile:text-[50px] mb-[18px] text-center text-[38px]"
    >
      {t("benefits.title")}
    </h2>

    <p class="font-body-mobile lg:font-body mx-auto max-w-[790px] text-center">
      {t("benefits.description")}
    </p>
  </div>

  <div
    class="flex w-full flex-col items-center gap-[63px] lg:max-w-[1050px] lg:gap-[128px]"
  >
    {
      cardData.map(({ title, body, ...rest }) => (
        <Card {...rest} title={t(title)} body={t(body)} />
      ))
    }
  </div>
</section>
