---
import Tag from "@/components/ui/Tag.astro";
import BenefitOne from "@/assets/benefits/benefit-1.svg";
import BenefitTwo from "@/assets/benefits/benefit-2.svg";
import BenefitThree from "@/assets/benefits/benefit-3.svg";

type Qip = { label: string; href: string };
type Variant = "benefit-1" | "benefit-2" | "benefit-3";

export interface Props {
  variant: Variant;
  title: string;
  body: string;
  qips: Qip[];
}

const { body, qips, title, variant } = Astro.props;
---

<div
  class="group flex w-full flex-col items-center gap-[50px] lg:flex-row lg:justify-between"
>
  <div class="lg:group-even:order-2">
    {
      variant === "benefit-1" && (
        <BenefitOne class="h-[262px] w-[271px] lg:h-[348px] lg:w-[360px]" />
      )
    }
    {
      variant === "benefit-2" && (
        <BenefitTwo class="h-[265px] w-[251px] lg:h-[379px] lg:w-[360px]" />
      )
    }
    {
      variant === "benefit-3" && (
        <BenefitThree class="h-[246px] w-[259px] lg:h-[326px] lg:w-[343px]" />
      )
    }
  </div>

  <div class="flex flex-col gap-[15px] lg:max-w-[500px] lg:group-even:order-1">
    <h3 class="text-text-title-secondary font-small-title">
      {title}
    </h3>

    <p class="font-body-mobile lg:font-large-body">
      {body}
    </p>

    <div class="flex gap-[25px] underline">
      {
        qips.map((qip) => (
          <Tag>
            <a href={qip.href} target="_blank" rel="noopener noreferrer">
              {qip.label}
            </a>
          </Tag>
        ))
      }
    </div>
  </div>
</div>
