---
import { Image } from "astro:assets";

import type { Props as ProfileData } from "./ProfileCard.astro";
import Button from "@/components/ui/Button.astro";
import Separator from "@/components/ui/Separator.astro";

import Chris from "@/assets/teams/chris-avatar.png";
import Joe from "@/assets/teams/joe-avatar.png";
import Nik from "@/assets/teams/nik-avatar.png";
import Cezary from "@/assets/teams/cezary-avatar.png";
import Rob from "@/assets/teams/rob-avatar.png";
import ProfileCard from "./ProfileCard.astro";
import { createTranslator, getLocaleFromUrl } from "@/utils/i18n";

const locale = getLocaleFromUrl(Astro.url.pathname);
const t = await createTranslator(locale);

const profileData: ProfileData[] = [
  {
    name: "Joe Mattia",
    title: "Chief Operating Officer",
    avatar: {
      alt: "Joe Mattia's avatar",
      src: Joe,
    },
  },
  {
    name: "Nik Heger",
    title: "Senior Software Engineer",
    avatar: {
      alt: "Nik Heger's avatar",
      src: Nik,
    },
  },
  {
    name: "Cezary Olborski",
    title: "Senior Software Engineer",
    avatar: {
      alt: "Cezary Olborski's avatar",
      src: Cezary,
    },
  },
  {
    name: "Rob Thijssen",
    title: "Dev Ops",
    avatar: {
      alt: "Rob Thijssen's avatar",
      src: Rob,
    },
  },
];
---

<section
  id="teams"
  class="bg-team relative px-4 py-[100px] min-[366px]:px-[30px] lg:px-[124px]"
>
  <Separator class="absolute top-0 left-0" variant="2" />

  <div class="max-w-content mx-auto flex flex-col gap-[50px]">
    <div class="flex flex-col xl:flex-row xl:items-end xl:justify-between">
      <div class="mb-[30px] lg:max-w-[682px] xl:mb-0">
        <h2 class="font-medium-title-mobile mb-5">{t("team.title")}</h2>

        <p class="font-body">{t("team.description")}</p>
      </div>

      <Button class="lg:w-[295px]" href="/contact" variant="outline"
        >{t("team.cta")}</Button
      >
    </div>

    <figure class="lg:flex lg:justify-between lg:gap-5">
      <div class="flex flex-col gap-5 lg:justify-between">
        <Image
          class={"size-full max-w-[600px] mx-auto lg:hidden"}
          src={Chris}
          alt="Christopher Smith's avatar"
          layout="full-width"
        />

        <figcaption class="flex w-[280px] flex-col gap-2">
          <h3 class="font-small-title">Christopher Smith</h3>
          <Separator class="h-[0.5px]" />
          <p class="font-large-body text-text-content-secondary">
            Chief Executive Officer
          </p>
        </figcaption>

        <div class="lg:max-w-[756px]">
          <p class="font-body text-white">
            {t("team.members.chris.bio")}
          </p>

          <br />

          <ul class="font-body list-disc ps-4 text-white">
            <li>{t("team.members.chris.achievements.0")}</li>
            <li>{t("team.members.chris.achievements.1")}</li>
            <li>{t("team.members.chris.achievements.2")}</li>
            <li>{t("team.members.chris.achievements.3")}</li>
            <li>{t("team.members.chris.achievements.4")}</li>
          </ul>
        </div>
      </div>

      <Image
        class={"size-full max-w-[305px] hidden lg:block"}
        src={Chris}
        alt="Christopher Smith's avatar"
        layout="full-width"
      />
    </figure>

    <div
      class="flex flex-col gap-[42px] md:grid md:grid-cols-2 md:gap-x-[22px] md:gap-y-10 lg:grid-cols-4"
    >
      {profileData.map((data) => <ProfileCard {...data} />)}
    </div>
  </div>
</section>
