---
import Decoration from "./Decoration.astro";
---

<div
  class="flex gap-14 px-4 pt-[94px] pb-[127px] md:ps-0 md:pe-14 xl:pe-[150px]"
>
  <div class="hidden min-w-[120px] md:block xl:min-w-[227px]">
    <Decoration />
  </div>

  <div>
    <slot />
  </div>
</div>
