---
import Decoration from "./Decoration.astro";
---

<div class="flex gap-14 pe-[150px] pt-[94px] pb-[127px]">
  <div class="hidden w-[241px] sm:block">
    <Decoration />
  </div>

  <div>
    <slot />
  </div>
</div>
