@theme {
  --font-primary: "Geist", sans-serif;
  --font-mono: "Geist Mono", monospace;
}

@utility font-navbar-link {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

@utility font-navbar-link-mobile {
  font-family: var(--font-primary);
  font-size: 22px;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: -0.01em;
}

@utility font-cta-mono {
  font-family: var(--font-mono);
  font-size: 12px;
  font-weight: medium;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}
