@theme {
  --spacing-content: 1140px;
  --spacing-navbar: 1440px;

  --spacing-content-edges: 52px;
  --spacing-content-edges-mobile: 24px;

  --border-width-none: 0px;
  --border-width-default: 1px;

  --radius-none: 0px;
  --radius-circle: 50%;
}
