---
import LeaderboardPodium from "./leaderboard-podium/LeaderboardPodium";
import LeaderboardTable from "./leaderboard-table/LeaderboardTable";
---

<section id="leaderboard">
  <h3 class="font-small-title mb-9">Leaderboard</h3>

  <LeaderboardPodium client:load />
  <LeaderboardTable client:load />
</section>
