---
import { createTranslator, getLocaleFromUrl } from "@/utils/i18n";
import LeaderboardPodium from "./leaderboard-podium/LeaderboardPodium";
import LeaderboardTable from "./leaderboard-table/LeaderboardTable";

const locale = getLocaleFromUrl(Astro.url.pathname);
const t = await createTranslator(locale);
---

<section id="leaderboard">
  <h3 class="font-small-title mb-9">{t("quests.leaderboard.title")}</h3>

  <LeaderboardPodium client:load locale={locale} />
  <LeaderboardTable client:load locale={locale} />
</section>
