---
import Separator from "@/components/ui/Separator.astro";

export interface Props {
  title: string;
  content: string;
}

const { title, content } = Astro.props;
---

<div
  class="bg-app-benefit-card relative rounded-[10px] flex flex-col gap-[10px] px-[35px] py-10 backdrop-blur-[20px]"
>
  <Separator class="absolute top-0 left-0" variant="2" />

  <p class="font-tag">{title}</p>
  <p class="font-small">{content}</p>
</div>
