---
import { Image } from "astro:assets";
import AppleStore from "@/assets/download/apple-store-download.png";
import GooglePlay from "@/assets/download/google-play-download.png";
import { createTranslator, getLocaleFromUrl } from "@/utils/i18n";
import { APP_LINKS } from "@/constants/app-links";

export interface Props {
  asMain?: boolean;
}

const { asMain } = Astro.props;

const locale = getLocaleFromUrl(Astro.url.pathname);
const t = await createTranslator(locale);
---

<div class="flex flex-col gap-6 px-[30px] xl:px-0">
  <div class="flex flex-col gap-[10px]">
    <p class="font-tag-caps-mobile lg:font-tag-caps">
      {t("app.tagline")}
    </p>
    {
      asMain && (
        <h1 class="font-medium-title-mobile lg:font-medium-title">
          {t("app.title")}
        </h1>
      )
    }
    {
      !asMain && (
        <h2 class="font-medium-title-mobile lg:font-medium-title">
          {t("app.title")}
        </h2>
      )
    }
    <p class="font-body-mobile lg:font-body lg:max-w-[523px]">
      {t("app.description")}
    </p>
  </div>

  <div class="flex gap-5">
    <a href={APP_LINKS.ios} target="_blank" rel="noopener noreferrer">
      <Image src={AppleStore} alt="Apple store app link" />
    </a>

    <a href={APP_LINKS.android} target="_blank" rel="noopener noreferrer">
      <Image src={GooglePlay} alt="Goole play app link" />
    </a>
  </div>
</div>
