---
import { SITE_SOCIALS, type SiteSocial } from "@/constants/site-socials";
import { applyStyles } from "@/utils/apply-styles";

import SocialX from "@/assets/socials/social-x.svg";
import SocialIG from "@/assets/socials/social-ig.svg";
import SocialYT from "@/assets/socials/social-yt.svg";
import SocialTelegram from "@/assets/socials/social-telegram.svg";
import SocialGithub from "@/assets/socials/social-github.svg";
import SocialLinktree from "@/assets/socials/social-linktree.svg";

export interface Props {
  class?: string;
}

const { class: className } = Astro.props;

const socials = Object.entries(SITE_SOCIALS) as [SiteSocial, string][];
---

<div class={applyStyles("flex gap-2 min-[360px]:gap-3 flex-wrap", className)}>
  {
    socials.map((social) => (
      <a
        href={social[1]}
        target="_blank"
        rel="noopener noreferrer"
        class="text-button-icon bg-button-icon-body flex size-9 cursor-pointer items-center justify-center rounded-full hover:brightness-125 min-[360px]:size-10"
      >
        {social[0] === "x" && <SocialX title="Quantus's X account" />}
        {social[0] === "instagram" && (
          <SocialIG title="Quantus's Instagram account" />
        )}
        {social[0] === "youtube" && (
          <SocialYT title="Quantus's Youtube account" />
        )}
        {social[0] === "telegram" && (
          <SocialTelegram title="Quantus's Telegram account" />
        )}
        {social[0] === "github" && (
          <SocialGithub title="Quantus's Github account" />
        )}
        {social[0] === "linktree" && (
          <SocialLinktree title="Quantus's Linktree account" />
        )}
      </a>
    ))
  }
</div>
