---
import SiteSocials from "@/components/ui/SiteSocials.astro";
import SphereDecoration from "@/components/ui/SphereDecoration.astro";
import { createTranslator, getLocaleFromUrl } from "@/utils/i18n";

const locale = getLocaleFromUrl(Astro.url.pathname);
const t = await createTranslator(locale);
---

<section
  class="relative flex flex-col items-center gap-16 overflow-hidden pt-12 pb-[100px]"
>
  <SphereDecoration
    class="absolute top-[16rem] -right-[8rem] -z-10"
    variant="10"
    size={240}
  />
  <SphereDecoration
    class="absolute -bottom-[11rem] -z-10"
    variant="6"
    size={240}
  />

  <div class="flex flex-col gap-11 px-[30px]">
    <h2
      class="font-small-title lg:font-medium-title max-w-content lg:text-center"
    >
      {t("socials.title")}
    </h2>
    <SiteSocials class="lg:justify-center" />
  </div>
</section>
