---
import { createTranslator, getLocaleFromUrl } from "@/utils/i18n";
import Input from "./Input.astro";
import Button from "./Button.astro";

const locale = getLocaleFromUrl(Astro.url.pathname);
const t = await createTranslator(locale);
---

<form
  id="footer-subscribe-form"
  class="flex w-full max-w-[calc(377px+150px)] flex-col items-end gap-5 md:items-center md:gap-3"
>
  <div class="grid grid-cols-2 justify-between gap-3">
    <Input
      aria-label="Subscribe first name input"
      class="md:max-w-[182.5px]"
      id="footer-subscribe-firstname-input"
      type="text"
      name="firstName"
      placeholder={t("footer.newsletter.placeholder.firstname")}
      required
    />

    <Input
      aria-label="Subscribe last name input"
      class="md:max-w-[182.5px]"
      id="footer-subscribe-lastname-input"
      type="text"
      name="lastName"
      placeholder={t("footer.newsletter.placeholder.lastname")}
    />
  </div>

  <Input
    aria-label="Subscribe email input"
    class="md:max-w-[377px]"
    id="footer-subscribe-email-input"
    type="email"
    name="email"
    placeholder={t("footer.newsletter.placeholder.email")}
    required
  />

  <Button id="footer-subscribe-button" type="submit" class="mt-2 w-[150px]"
    >{t("footer.newsletter.button")}</Button
  >
</form>

<script>
  import apiClient from "@/api/client";
  import { createTranslator, getLocaleFromUrl } from "@/utils/i18n";

  const locale = getLocaleFromUrl(location.pathname);
  const t = await createTranslator(locale);

  const form = document.getElementById(
    "footer-subscribe-form",
  ) as HTMLFormElement;
  const email = document.getElementById(
    "footer-subscribe-email-input",
  ) as HTMLInputElement;
  const firstName = document.getElementById(
    "footer-subscribe-firstname-input",
  ) as HTMLInputElement;
  const lastName = document.getElementById(
    "footer-subscribe-lastname-input",
  ) as HTMLInputElement;
  const btn = document.getElementById("footer-subscribe-button");

  if (!form || !email || !firstName || !lastName || !btn)
    throw new Error("Form not detected, can't do submission!");

  // Events
  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    // Make button disabled
    btn.setAttribute("disabled", "true");

    try {
      const emailValue = email?.value?.trim();
      if (!emailValue) throw new Error(t("common.email_required"));

      const firstNameValue = firstName?.value?.trim();
      if (!firstNameValue) throw new Error(t("common.first_name_required"));

      const lastNameValue = lastName?.value?.trim();

      const resp = await apiClient.subscribe(
        emailValue,
        firstNameValue,
        lastNameValue,
      );
      const data = await resp.json();

      if (resp.status !== 201 && data.error) throw new Error(data.error);

      // Make button active after done processing submit
      btn.removeAttribute("disabled");

      // Show success message
      window.toast.success(t("footer.newsletter.success"));

      // Reset form
      form.reset();
    } catch (error: any) {
      // Make button active after done processing submit
      btn.removeAttribute("disabled");

      const errMsg = error.message;

      // Show error message
      window.toast.error(errMsg);
    }
  });
</script>
