@theme {
  --font-primary: "Prompt", "sans-serif";
  --font-secondary: "Inter", "sans-serif";
  --font-whitepaper-primary: "IBM Plex Sans", "sans-serif";
  --font-whitepaper-secondary: "IBM Plex Mono", "monospace";
}

/* Note: font-display: swap is handled by @fontsource packages.
 * To ensure optimal font loading, consider using a Vite plugin
 * to modify @font-face rules in @fontsource CSS files if needed.
 */

/* https://tailwindcss.com/docs/adding-custom-styles#adding-custom-utilities */
@utility font-large-body {
  font-family: var(--font-primary);
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  font-feature-settings:
    "liga" off,
    "clig" off;
}
@utility font-quest-title {
  font-family: var(--font-primary);
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 80px */
  letter-spacing: 1.6px;
}
@utility font-quest-title-conjuction {
  font-family: var(--font-primary);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 40px */
  letter-spacing: 0.8px;
}
@utility font-large-body-bold {
  /* Large Body Bold */
  font-family: var(--font-primary);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 28px */
  letter-spacing: 0.4px;
  font-feature-settings:
    "liga" off,
    "clig" off;
}
@utility font-button {
  font-family: var(--font-primary);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.17px;
}
@utility font-small-title {
  font-family: var(--font-primary);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.3px;
  font-feature-settings:
    "liga" off,
    "clig" off;
}
@utility font-body {
  font-family: var(--font-primary);
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.17px;
  font-feature-settings:
    "liga" off,
    "clig" off;
}
@utility font-body-bold {
  font-family: var(--font-primary);
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 25.5px */
  font-feature-settings:
    "liga" off,
    "clig" off;
}
@utility font-body-mobile {
  font-family: var(--font-primary);
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-feature-settings:
    "liga" off,
    "clig" off;
}
@utility font-extra-card-title {
  font-family: var(--font-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%; /* 19.2px */
  letter-spacing: 1.6px;
  text-transform: uppercase;
}
@utility font-tag {
  font-family: var(--font-primary);
  font-size: 23px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.46px;
  font-feature-settings:
    "liga" off,
    "clig" off;
}
@utility font-tag-mobile {
  font-family: var(--font-primary);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-feature-settings:
    "liga" off,
    "clig" off;
}
@utility font-small {
  font-family: var(--font-primary);
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: 0.15px;
  font-feature-settings:
    "liga" off,
    "clig" off;
}
@utility font-tag-caps {
  font-family: var(--font-primary);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 28.8px */
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
@utility font-tag-caps-mobile {
  font-family: var(--font-primary);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
@utility font-large-title-mobile {
  font-family: var(--font-primary);
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 1px;
}
@utility font-sub-title-mobile {
  font-family: var(--font-primary);
  font-size: 19px;
  font-style: normal;
  font-weight: 275;
  line-height: 140%;
}
@utility font-sub-title {
  font-family: var(--font-primary);
  font-size: 36px;
  font-style: normal;
  font-weight: 250;
  line-height: 160%; /* 57.6px */
}
@utility font-medium-title-mobile {
  font-family: var(--font-primary);
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
@utility font-caps {
  font-family: var(--font-primary);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 28.8px */
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
@utility font-large-title {
  font-family: var(--font-primary);
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 112px */
  letter-spacing: 1.6px;
}
@utility font-medium-title {
  font-family: var(--font-primary);
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 72px */
  letter-spacing: 1.2px;
}
@utility font-giant-mobile {
  font-family: var(--font-primary);
  font-size: 54px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 2.16px;
  text-transform: uppercase;
  font-feature-settings:
    "liga" off,
    "clig" off;
}
@utility font-roadmap-date {
  font-family: var(--font-secondary);
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  font-feature-settings:
    "liga" off,
    "clig" off;
}
@utility font-event-section {
  font-family: var(--font-primary);
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  font-feature-settings:
    "liga" off,
    "clig" off;
}
@utility font-giant {
  font-family: var(--font-primary);
  font-size: 194px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 9.7px;
  text-transform: uppercase;
  font-feature-settings:
    "liga" off,
    "clig" off;
}
@utility font-qday-title {
  font-family: var(--font-primary);
  font-size: 33px;
  font-style: normal;
  font-weight: 100;
  line-height: 120%; /* 39.6px */
  letter-spacing: 0.99px;
}
@utility font-deadline {
  font-family: var(--font-primary);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 33.6px */
  letter-spacing: 0.56px;
  text-transform: uppercase;
  font-feature-settings:
    "liga" off,
    "clig" off;
}
@utility font-deadline-mobile {
  font-family: var(--font-primary);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 21.6px */
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

/* Whitepapers Fonts */
@utility font-whitepaper-cover-version {
  font-family: var(--font-whitepaper-secondary);
  font-size: 8px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.08px;
}
@utility font-whitepaper-cover-title {
  font-family: var(--font-primary);
  font-size: 80px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
}
@utility font-whitepaper-cover-tagline {
  font-family: var(--font-whitepaper-secondary);
  font-size: 12px;
  font-weight: 400;
  line-height: 135%; /* 16.2px */
  letter-spacing: 0.12px;
}
@utility font-whitepaper-cover-credit-label {
  font-family: var(--font-whitepaper-secondary);
  font-size: 8px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.08px;
}
@utility font-whitepaper-cover-credit-content {
  font-family: var(--font-whitepaper-secondary);
  font-size: 10px;
  font-weight: 500;
  line-height: 135%; /* 13.5px */
  letter-spacing: 0.1px;
}
@utility font-whitepaper-chapter-number {
  font-family: var(--font-primary);
  font-size: 85.3px;
  font-weight: 700;
  line-height: 85.33px;
  letter-spacing: -4px;
}
@utility font-whitepaper-chapter-title {
  font-family: var(--font-primary);
  font-size: 37.3px;
  font-weight: 700;
  line-height: 41px; /* 109.92% */
  letter-spacing: -0.667px;
  text-transform: lowercase;
}
@utility font-whitepaper-section-paragraph {
  font-family: var(--font-whitepaper-primary);
  font-size: 21.3px;
  font-weight: 400;
  line-height: 37.97px;
  letter-spacing: 0%;
}
@utility font-whitepaper-blockquote {
  font-family: var(--font-whitepaper-secondary);
  font-size: 21.3px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: -0.427px;
}
@utility font-whitepaper-section-title {
  font-family: var(--font-primary);
  font-size: 21.3px;
  font-weight: 700;
  line-height: 35.2px;
  letter-spacing: 0.427px;
  text-transform: lowercase;
}
@utility font-whitepaper-sub-section-title {
  font-family: var(--font-whitepaper-secondary);
  font-size: 21.3px;
  font-weight: 500;
  line-height: 35.2px; /* 165.258% */
  letter-spacing: 1.28px;
  text-transform: lowercase;
}
@utility font-whitepaper-section-title-alt {
  font-family: var(--font-whitepaper-secondary);
  font-size: 21.3px;
  font-weight: 400;
  line-height: 35.2px; /* 165.258% */
  letter-spacing: 4.267px;
  text-transform: uppercase;
}
@utility font-whitepaper-ordered-list-bullet {
  font-family: var(--font-whitepaper-secondary);
  font-size: 21.3px;
  font-weight: 700;
  line-height: 35.2px; /* 165.258% */
}
@utility font-whitepaper-ordered-list-item {
  font-family: var(--font-whitepaper-secondary);
  font-size: 21.3px;
  font-weight: 400;
  line-height: 35.2px; /* 165.258% */
  letter-spacing: -0.213px;
  text-transform: lowercase;
}
@utility font-whitepaper-timeline-title {
  font-family: var(--font-whitepaper-secondary);
  font-size: 21.3px;
  font-weight: 700;
  line-height: 35.2px; /* 165.258% */
  text-transform: lowercase;
}
@utility font-whitepaper-timeline-date {
  font-family: var(--font-whitepaper-secondary);
  font-size: 21.3px;
  font-weight: 400;
  line-height: 35.2px;
  letter-spacing: 0.853px;
}
@utility font-whitepaper-reference-label {
  font-family: var(--font-whitepaper-secondary);
  font-size: 21.3px;
  font-weight: 700;
  line-height: 35.2px; /* 165.258% */
}
@utility font-whitepaper-reference-marker {
  font-family: var(--font-whitepaper-secondary);
  font-size: 21.3px;
  font-weight: 400;
  line-height: 37.97px;
  letter-spacing: 0.853px;
}
@utility font-whitepaper-table-header {
  font-family: var(--font-whitepaper-secondary);
  font-size: 21.3px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.56px;
  text-transform: uppercase;
}
@utility font-whitepaper-table-cell {
  font-family: var(--font-whitepaper-secondary);
  font-size: 21.3px;
  font-weight: 700;
  line-height: 30.93px; /* 145.211% */
}
@utility font-whitepaper-callout-title {
  font-family: var(--font-whitepaper-secondary);
  font-size: 21.3px;
  font-weight: 700;
  line-height: 35.2px; /* 165.258% */
  letter-spacing: 3.84px;
  text-transform: uppercase;
}
@utility font-whitepaper-callout-body {
  font-family: var(--font-whitepaper-secondary);
  font-size: 21.3px;
  font-weight: 400;
  line-height: 35.2px; /* 165.258% */
}
@utility font-whitepaper-code {
  font-family: var(--font-whitepaper-secondary);
  font-size: 21.3px;
  font-style: normal;
  font-weight: 400;
  line-height: 34.13px; /* 160.235% */
}
