---
import { createTranslator, getLocaleFromUrl } from "@/utils/i18n";
import { Image } from "astro:assets";
import QQLogo from "@/assets/quests/qq-logo.png";

const locale = getLocaleFromUrl(Astro.url.pathname);
const t = await createTranslator(locale);
---

<section id="heading" class="bg-quests-hero py-[74px]">
  <div
    class="max-w-content mx-auto flex flex-col items-center px-8 text-center lg:px-0"
  >
    <p class="font-tag-caps mb-2">{t("quests.hero.welcome")}</p>

    <h1 class="hidden">{t("quests.hero.title")}</h1>
    <Image
      width={689}
      src={QQLogo}
      alt="Headshot of quantus mascot of q-cat with text quantus quests beside it"
    />

    <p class="font-body-bold mt-5 max-w-[810px]">
      {t("quests.hero.description")}
    </p>
  </div>
</section>
